.site-header {
    min-height: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 16px 5px 35px;

    &__logo {
        img {
            width: 125px;
            height: auto;
        }
    }

    &__contacts {
        width: 234px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fas {
            padding: 5px 5px 0 5px;
        }

        .hamburger {
            display: flex;
            align-items: center;

            &-inner,
            ::after,
            ::before {
                border-radius: 0px;
                width: 30px;
                background-color: white;
            }
        }
    }

    &__number {
        white-space: nowrap;
        color: #ffffff;
        font-size: 20px;
    }
}


.data-greeting {
    display: flex;
    padding-left: 80px;
    margin-top: 50px;



    &__welcome {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;

        span {
            white-space: nowrap;
            color: #fff;
            text-transform: uppercase;
            padding: 0 10px;
        }

        &::after,
        &::before {
            content: '';
            display: block;
            width: 14%;
            height: 1px;
            background: #fff;
            padding: 0 5px;
        }
    }


    &__title {
        white-space: nowrap;
        text-align: center;
        font-weight: 100;
        color: #fff;
        font-size: 67px;
        margin: 10px 0 15px 0;

    }

    hr {
        opacity: inherit;
        color: #fff;
        height: 1px;
        margin: 0 auto;
        width: 95%;
        margin-bottom: 10px;
    }

    &__place {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin-top: 30px;
        color: #fff;

    }

    &__descr {
        color: #fff;
        text-align: center;
        margin: 50px 0 66px 0;
    }
}

.data-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: rgb(46, 46, 46);
    }

    .fab {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.281);
        border-radius: 100%;
        width: 38px;
        height: 38px;
        margin: 20px 19px;
        transition: all .2s;
        &:hover {
            transition: all .3s;
            background: rgba(255, 255, 255, 0.555);

        }
    }
}
.data-location {
    width: 100%;
    padding: 18px 0;
    border-top: 1px black solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .fas {
        color: rgba(255, 255, 255, 0.315);
    }

    span {
        padding: 0 5px;
        color: #fff;

    }
}
#hr {
    margin-top: 68px;
    height: 1px;
    color: #fff;
}


//styles for 'mmenu'
.mm-menu .mm-panel--noanimation {
    right: -17px;
}

.mm-listitem {
    :hover {
        background-color: rgba(255, 255, 255, 0.336);
    }
}

.mm-listitem:after {
    position: relative;
}

.mm-listitem--selected>.mm-listitem__text {
    background-color: transparent;
}

.mm-listitem--selected {
    color: $accent;

    ::after {
        content: "\f3a5";
        font-family: 'Font Awesome 5 Free';
        font-size: 13px;
        color: white;
        padding: 0 5px;
    }
}

.mm-listview {
    padding-left: 5%;
}